header {
    background-color: #67D8EB;
    width: 100%;
    height: 100px; 
}
footer {
    background-color: #67D8EB;
    width: 100%;
    height: 50px; 
    position: absolute;
    align-self:baseline;
}
section{
    height: 400px;
}
body{
    background-color: #FFFFFF;
    margin:0;
    padding:0;
}
#textoPie1{
 text-align: left;
 margin-left: 30px;
 
}
.responsiveElement{
    position: absolute;
    transition: top 0.5s, left 0.5s;
}

#imagenLogo{
    position: absolute;
    width: 120px;
    height: 75px;
    top: 25px;
    left: 25px;
}
