/* Variables de color personalizadas */
:root {
    --background: #196aac; /* Fondo general */
    --primary: #3465ea; /* Botones y áreas destacadas */
    --primary-dark: #196ec2; /* Hover de los botones */
    --text-primary: black; /* Color del texto */
    --secondary: #475770; /* Color de fondo secundario */
    --btn-text:rgb(255, 255, 255); /* Color del texto en los botones */
    --nav-background: #85a0d0; /* Fondo de la barra de navegación */
    --nav-text: #ffffff; /* Color del texto en la barra de navegación */
}

/* Estilos para el cuerpo */
body {
    background-color: var(--background);
    font-family: Arial, sans-serif;
}
#logo{
    width: 100px;
    height: 100px;
}
/* Estilos personalizados para botones */
.btn-custom {
    background-color: var(--primary);
    color: var(--btn-text);
    border: none;
    border-radius: 8px;
    padding: 8px;
    transition: background-color 0.3s;
    height: 30px;
    width:120px;
    text-align: center;
    font-size: small;
}

.btnBuscar {
    background-color: var(--primary);
    color: var(--btn-text);
    border: none;
    border-radius: 10px;
    padding: 8px;
    transition: background-color 0.3s;
    width: 50px;
    text-align: center;
    font-size: small;
}

#titOferta{
    font-size: 35px;
}

#textOferta{
    font-size: 25px;
}

#bajoHeader{
    background-color: var(--secondary);
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: large;
    
}

#MyDrops{
    font-size: 35px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#imagenCarrito {
    width: 40px;
    height: 40px;
}

.btn-custom:hover {
    background-color: var(--primary-dark);
}

/* Estilos personalizados para la barra de navegación */
.nav-custom {
    background-color: var(--nav-background);
    padding: 16px 0;
}

.nav-link-custom {
    color: var(--nav-text);
    margin-left: 16px;
    text-decoration: none;
    font-size: 22px;
}

.nav-link-custom:hover {
    text-decoration: underline;
    color: white;

}

/* Estilos personalizados para las secciones */

.seccion-principal {
    border-radius: 8px;
    background-color:var(--secondary);
    text-align: center;
    margin-bottom: 16px;
    padding-top:25px;
    padding-bottom:15px;

}

.tituloGeneral{
font-size:30px;
color: rgb(255, 255, 255);
text-align: center;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

#tituloTendencias{
font-size:30px;
color: white;
text-align: start;
margin-left: 20px;
}

.seccion-Ofertas{
    background-color: #ffffff;
    margin: 0 auto;
    padding-left: 120px;
    padding-right: 100px;
    text-align: left;
    margin-bottom: 16px;
    display: flex;
    gap:50px;
    align-items: center;
}

.imagenesTendencias{
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.seccion-Tendencias{
    
    margin: 0 20px 30px 20px;
    height: 435px;
    background-color: var(--secondary);
    border-radius: 16px;
    color: #fff;
    padding: 30px;
    text-align: center;
    gap:30px;
}

.seccion-Anuncios {
    background-color: var(--secondary);
    border-radius: 15px;
    margin: 0px 20px 20px 20px;
    padding:20px;
    height: 550px;
    display: flex; /* Utiliza Flexbox */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten a múltiples líneas */
    gap: 20px; /* Espacio entre tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    align-items: stretch; /* Asegura que todas las tarjetas tengan la misma altura */
}

.anunciosCard {
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    font-size: 25px;
    border-radius: 15px;
    font-weight: bolder;
    word-wrap: break-word; /* Divide palabras largas */
    white-space: normal; /* Permite saltos de línea */
    text-overflow: ellipsis; /* Añade puntos suspensivos al texto desbordante */
    display: flex; /* Utiliza Flexbox dentro de la tarjeta */
    flex-direction: column; /* Alinea elementos verticalmente */
    justify-content: space-between; /* Espacia los elementos dentro de la tarjeta */
    height: 200px; /* Altura fija para todas las tarjetas */
}

.anunciosCard p {
    flex-grow: 1; /* Permite que el texto crezca para llenar el espacio disponible */
    align-items: center; /* Centra el texto verticalmente dentro de la tarjeta */
    justify-content: center; /* Centra el texto horizontalmente dentro de la tarjeta */
}

.imagenesAnuncios {
    max-width: 300px; /* Asegura que la imagen no desborde el contenedor */
    height: 250px; /* Mantiene la proporción de la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
    }

#imagenOferta{
    width: 400px;
    height: 300px;
}

#divDistinto{
    padding:16px;
    display: flex;
    gap:4px;
    align-items: center;
    width:50%;
}

.imgInfo{
width: 60px; 
height: 48px;
}

.lineaVert{
    padding:16px;
    border-left: thin solid #000;
    height:100%;
    width:50%;
    display: flex;
    gap:4px;
    align-items: center;
}

.seccion-Bloques{
    display: flex;
    margin-bottom:30px ;
}

.seccion-Info{
    border: var(--secondary) 5px solid ;
    margin: 0 20px 30px 20px;
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    display: flex;

}

.seccion-Productos{
    margin: 0 20px 30px 20px;
    background-color: #fff;
    padding: 16px;
    padding-left: 30px;
    border-radius: 8px;
    text-align: left;
    margin-bottom: 16px;
}

/* Estilos para el header */
header {
    background-color: #14578f;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.barraBusquedaBloq {
    display: flex;
    align-items: center;
    gap: 8px;
}

#barraBusqueda{
    width: 330px;
    height: 40px;
    border-radius: 10px;
}

#accionesUsuario {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}

footer{
    width: 100%;   
    padding: 16px;
    padding-top: 30px;
    background-color: white;
    align-items:baseline;
    }

#sectionDistinto{
    padding:16px;
    height:100%;
}

.lineaVertFoot{
    padding:16px;
    border-left: thin solid #000;
    height:100%;
}
.carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators{
    filter: invert(108%);
  }
  

  .controles-Anuncios .carousel-control-prev {
    left: -50px; /* Ajusta el valor según sea necesario */
    background-color: #ffffff;
    width: 40px; /* Aumenta el ancho */
    border-radius: 15px;
}

.controles-Anuncios .carousel-control-next {
    right: -50px; /* Ajusta el valor según sea necesario */
    background-color: #ffffff;
    width: 40px; /* Aumenta el ancho */
    border-radius: 15px;
}

.container {
    max-width: 1200px; /* Define un ancho máximo */
    margin: 0 auto;    /* Centra el contenedor */
    overflow-y: visible; /* Asegura que el desbordamiento sea visible en el eje y */
}

.horizontal-scroll {
    white-space: nowrap;
    overflow-x: auto;
    padding: 20px;
}

.horizontal-scroll-item {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 35px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 5px 10px auto; /* Ajusta márgenes para centrar */
}

.horizontal-scroll-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

/* Custom scrollbar styles */
.horizontal-scroll::-webkit-scrollbar {
    height: 12px;
}

.horizontal-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

.horizontal-scroll::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

.horizontal-scroll::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.horizontal-scroll-anuncios {
    width: 350px;
    height: 425px;
    border-radius: 15px;
    text-align: center  ;
    display: inline-block;
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 10px;
}

.horizontal-scroll-anuncios:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.bloqBlanco{
    border: var(--background) 15px solid ;
    background-color: white;
    padding: 20px;
    gap: 20px;
    border-radius: 20px;
    color: #000;
    display:flex;
    align-items: center;
}

#seccion-Categorias{
justify-content: center;
margin: 0 20px 30px 15%;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
display: inline-block;
gap: 10px;
background-color: white;
border-radius: 15px;
}

#seccion-Categorias .btn{
    font-size: large;
    height: 100px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 10px;
    border: #505050 1px solid ;
}

#seccion-Categorias .btn:hover{
    color: blue;

}
/* Estilo básico para el botón */
.drop {
    color: white;
    border: none;
    cursor: pointer;
  }
  
  /* Estilo para el contenedor del dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Estilo para el contenido del dropdown */
  .dropdown-content {
    display: none; /* Inicialmente oculto */
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 2;
    border: #505050 3px solid ;
  }
  
  /* Links dentro del dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Cambiar el color al pasar el mouse sobre los links */
  .dropdown-content a:hover {
    background-color: #5c6f8f;
  }
  
  /* Mostrar el contenido al pasar el mouse sobre el contenedor del dropdown */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Cambiar el color del botón al pasar el mouse */
  .dropdown:hover .dropbtn {
    background-color: #2980b9;
  }
  