:root {
    --background: #14578f;
    --primary: #3465ea;
    --primary-dark: #196ec2;
    --text-primary: black;
    --secondary: #475770;
    --btn-text: rgb(255, 255, 255);
    --nav-background: #85a0d0;
    --nav-text: #ffffff;
}

body {
    background-color: var(--background);
    font-family: Arial, sans-serif;
}

#logo {
    width: 100px;
    height: 100px;
}

.product-card {
    background-color: white;
    border-radius: 15px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}

.card-body {
    width: 100%; /* Asegura que el cuerpo de la tarjeta ocupe todo el ancho */
    text-align: center; /* Centra el texto dentro del contenedor */
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 8px; /* Espaciado entre los botones */
    margin-top: 16px; /* Espacio entre la información y los botones */
}

.btn-custom {
    background-color: var(--primary);
    color: var(--btn-text);
    border: none;
    border-radius: 8px;
    padding: 8px;
    transition: background-color 0.3s;
    height: 30px;
    width: 120px;
    text-align: center;
    font-size: small;
}

.btnBuscar {
    background-color: var(--primary);
    color: var(--btn-text);
    border: none;
    border-radius: 10px;
    padding: 8px;
    transition: background-color 0.3s;
    width: 50px;
    text-align: center;
    font-size: small;
}

#MyDrops {
    font-size: 40px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#imagenCarrito {
    width: 40px;
    height: 40px;
}

.btn-custom:hover {
    background-color: var(--primary-dark);
}

header {
    background-color: var(--background);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

#barraBusqueda {
    width: 300px;
    height: 40px;
    border-radius: 15px;
}

#accionesUsuario {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
}

footer {
    width: 100%;   
    padding: 16px;
    padding-top: 30px;
    background-color: white; 
}

/* Estilo básico para el botón */
.profile-drop {
    border-radius: 5px;
    padding: 5px;
    gap: 10px;
    background-color: var(--primary-dark);
    border: none;
    cursor: pointer;
    display: flex; /* Asegúrate de que el contenido esté alineado */
    align-items: center; /* Centrar verticalmente */
}

/* Estilo para el contenedor del dropdown */
.profile-dropdown {
    display: flex;
    align-items: center;
    
    border-radius: 5px;
    height: 50px;
    width: auto;
    position: relative; /* Asegúrate de que el contenedor tenga position: relative */
}

/* Estilo para la imagen del perfil */
#profPic {
    border: var(--secondary) 3px solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

/* Estilo para el contenido del dropdown */
.profile-dropdown-content {
    border-radius: 5px;
    display: none; /* Oculto por defecto */
    position: absolute; /* Para que se posicione relativo al contenedor */
    top: 100%; /* Posicionar justo debajo del contenedor */
    left: 0; /* Alinear al lado izquierdo del contenedor */
    background-color: var(--primary-dark); /* Asegúrate de que sea visible */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links dentro del dropdown */
.profile-dropdown-content a {
    color: white; /* Cambia a un color que contraste con el fondo */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Cambiar el color al pasar el mouse sobre los links */
.profile-dropdown-content a:hover {
    background-color: var(--secondary); /* Asegúrate de que el hover sea visible */
    border-radius: 5px;
}

/* Mostrar el contenido al pasar el mouse sobre el contenedor del dropdown */
.profile-dropdown:hover .profile-dropdown-content {
    display: block; /* Muestra el contenido cuando pasa el cursor sobre profile-dropdown */
}

/* Cambiar el color del botón al pasar el mouse */
.profile-drop:hover {
    background-color: var(--secondary); /* Cambiar color del botón al hacer hover directamente sobre él */
}

.profile-name{
    font-size: large;
}