header {
    background-color: #67D8EB;
    transition: height 0.3s ease;
    height: 100px;
}
footer {
    background-color: #67D8EB;
    width: 100%;
    height: 50px; 
    position: absolute;
    align-self:baseline;
}
section{
    height: 300px;
}
body{
    background-color: #FFFFFF;
    margin:0;
    padding:0;
}
#textoPie1{
 text-align: left;
 margin-left: 30px;
 
}
.responsiveElement{
    position: absolute;
    transition: top 0.5s, left 0.5s;
}

#imagenLogo{
    position: absolute;
    width: 120px;
    height: 75px;
    top: 25px;
    left: 25px;
}
#registro{
    position: absolute;
    font-size: 20px;
    border-radius: 15px;
    background-color: #67D8EB;
    text-align: justify;
    width: 400px;
    height: 300px;
    padding: 15px;
}