:root {
    --background: #1766a7; /* Fondo general */
    --primary: #3465ea; /* Botones y áreas destacadas */
    --primary-dark: #196ec2; /* Hover de los botones */
    --text-primary: black; /* Color del texto */
    --secondary: #85a0d0; /* Color de fondo secundario */
   }
   body {
    background-color: #6e85ab;
    font-family: Arial, sans-serif;
    
}
header {
    background-color: var(--background);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}
.enlaces{
    color: black;
    text-decoration: none;
}
.enlaces :hover{
    color: black;
    text-decoration: underline;
}
#MyDrops{
    font-size: 40px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#logo{
    width: 100px;
    height: 100px;
}

footer{
width: 100%;   
padding: 16px;
padding-top: 30px;
background-color: white; 
}

.lineaVertFoot{
    padding:16px;
    border-left: thin solid #000;
    height:100%;
}

#sectionDistinto{

    padding:16px;
    height:100%;
}