body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}
header {
    background-color: #67D8EB;
    width: 100%;
}
footer {
    background-color: #67D8EB;
}

#textoPie1 {
    text-align: left;
    margin-left: 30px;
}
.responsiveElement {
    position: relative;
    transition: top 0.5s, left 0.5s;
}
#imagenCarrito {
    width: 40px;
    height: 40px;
}
#imagenLogo {
    width: 120px;
    height: 75px;
}
#textoRegi {
    font-size: 20px;
}
#textoIni{
    font-size: 20px;
}
.header-top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-top-right p {
    margin-left: 10px; 
    cursor: pointer; 
}